@charset "UTF-8";

body{
    margin: 0;
}

header{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1{
    color: #fc3;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

h3{
    margin: 10px 0 0 0;
    /* margin-top: 10px; */
}

nav{
    background: #555;
}

nav a{
    color: #fc3;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    background: #444;
}

nav a:hover{
    background: #555;
}

main{
    display: flex;
}

/* article, aside{
    border: 4px solid red;
} */

article{
    flex: 2;
    background: #eee;
    padding: 15px;
}

.ninja{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span{
    border: 1px solid #fc3;
    border-radius: 3px;
    padding: 3px;
}

aside{
    flex: 1;
    padding: 10px;
}

div#venedig{
    padding: 80px 10px 10px 10px;
}

#venedig{
    background: url('images/venedig.jpg');
    background-size: cover;
}

#venedig section{
    background: rgba(0, 0, 0, .5);
    padding: 8px;
    color: white;
}

h5{
    margin: 0;
}

#sangi section p{
    margin: 0;
}

div#sangi{
    margin-top: 30px;
    padding: 80px 10px 10px 10px;
}

#sangi{
    background: url('images/sangimignano.jpg');
    background-size: cover;
}

#sangi section{
    background: rgba(0, 0, 0, .5);
    padding: 8px;
    color: white;
}

#sangi section p{
    margin: 0;
}

footer{
    background: #333;
    display: flex;
    padding: 10px;
}

section{
    flex: 1;
    padding: 14px;
}

section h4{
    color: rgb(221, 129, 8);
    margin: 0;
    margin-bottom: 0;
}

section p{
    color: #eee;
    margin-top: 0;
}