@charset "UTF-8";

body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1{
    color: #fc3;
    font-weight: normal;
    font-size: 50px;
    margin: 30px 0 0 0;
}

header h4{
    font-size: 25px;
    font-weight: normal;
    margin: 10px 0 30px 0;   
}

nav{
    background: #555;
}

nav a{
    color: #fc3;
    background: #444;
    font-size: 20px;
    text-decoration: none;
    display: inline-flex;
    padding: 8px 50px 8px 50px;
    align-items: center;
}

nav a:hover{
    background: #555;
}