@charset "UTF-8";

table{
    border: 2px solid #999;
    border-collapse: collapse;
    box-shadow: 10px 10px 10px #666;
}

td{
    /* border: 4px solid red; */
    padding: 8px;
}

td:first-child{
    background: darkgray;
    color: white;
}

tr:nth-child(even){
    background: lightgray;
}